body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: rgb(8, 132, 228);
    

}

.navber-area{
    color: white;
    display: flex;
   

}
.navber-area ul{
    list-style: none;
    float: right;
}
.navber-area li{
    display: inline-flex;
    margin-left: 40px;
}
.navber-area a{
    text-decoration: none;
    line-height:40px;
    margin: 10px 20px;
    font-size:20px;
    color: white;
    font-weight: 700;
    border-radius:10px;
    padding: 0 5px;
   
    
}
.navber-area a:hover{
    background-color: rgb(207, 83, 11);
    
}
.display-item{
line-height:90px;
font-size: 30px;
margin-right:200px;
font-weight: 700;
margin-left: 40px;
}
.main-item{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:700px;
    padding:2px;
    text-align: center;
    
    
}
.main-item h1{
    margin-top:300px;
    color: white;
    font-size:35px;
    font-weight: 900;
}
.main-item p{
    color: white;
    margin-bottom: 40px;
}
.button-link{
    background-color: rgb(49, 180, 49);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;
}
.button-link:hover{
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.cloum-area{
    width:100%;
    padding:10px 30px;
   
    
    
}
.fast-cloum{
    box-shadow: 10px 7px 40px gray;
    text-align: center;
    float: left;
    width:20%;
    margin: 5px 15px;
    margin-bottom:50px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: steelblue;
    
}
.fast-cloum:hover{
    background-color: rgb(235, 74, 53);
   
}
.cloum-area h1{
    margin-bottom:70px;
    text-align: center;
    color: teal;
   
}
.fast-cloum p{
    color: white;
}
#apple{
    color: rgb(190, 93, 93);
    font-size: 30px;
}
#audible{
    color: rgb(146, 221, 26);
    font-size: 30px;
}
#atom{
    color: white;
    font-size: 30px;
}
#atlassian{
    color: rgb(130, 216, 238);
    font-size: 30px;
}
.haif-area{
    width: 100%;
    text-align: center;
    margin-bottom:100px;
    
}
.haif-area img{
    width:50%;
    float: left;   
   
}
.haif-area h2{
    display: inline-flex;
    margin-top:90px;
    color: rgb(16, 19, 7);
    font-size: 20px;
    font-weight: 700;
}
.haif-area p{
    margin-bottom: 50px;
    text-align: justify;
    margin-left:800px;
}
.btns-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(194, 92, 9),rgb(182, 105, 3));
    padding: 10px 25px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    
}

.owner-item{
    background-color: rgb(14, 199, 128);
    width:30%;
    float: left;
    box-shadow: 10px 7px 30px gray;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
        
}
.owner-item img{
    width:35%;
  
}
section{
    display: flex;
}
.owner-add{
    margin-bottom:60px;
    text-align:center;
    
}
#fast-area{
   font-size: 25px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 700;

}
footer{
    text-align: center;
    background-color: rgb(42, 44, 61);
    padding:50px;
    color: white;
    
}